@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.btn {
  border-radius: 0.2rem;
  padding: 0.5rem;
  background-color: black;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: #ff8c4a;
}
