.post__card {
  width: 100%;
}

.post__containers {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.image__container {
  width: 100%;
}

.image {
  width: 100%;
  border-radius: 0.8rem;
}

.postcard__title {
  bottom: 100px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 1.2rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.postcard__description {
  background-image: linear-gradient(
    to left top,
    #ffaa63,
    #fda45e,
    #fb9e5a,
    #f89856,
    #f69252,
    #f69151,
    #f59051,
    #f58f50,
    #f69252,
    #f89655,
    #f99957,
    #fa9c5a
  );
  color: white;
  padding: 2rem;
  border-radius: 0.8rem;
  font-weight: 600;
}

.postcard__content {
  padding: 1.4rem;
}

.postcard__author {
  display: flex;
  background-color: black;
  color: rgb(81, 81, 81);
  padding: 1rem;
  border-radius: 0.8rem;
  margin-bottom: 1.2rem;
}

.author__image {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}

.author__name {
  color: white;
  padding-bottom: 0.4rem;
}

.author__details {
  padding-left: 1rem;
}

@media (max-width: 600px) {
  .post__containers {
    width: 100%;
  }

  .postcard__description {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .postcard__description {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .image {
    border-radius: 0;
  }
  .postcard__author {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 4rem;
  }
}
