.home__card {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.user__card {
  padding: 1rem;
  font-size: 1.2rem;
}

.user__card span {
  font-weight: 600;
}

.home__container {
  display: flex;
  padding: 1rem;
  width: 100%;
}

.post__container {
  width: 100%;
  display: flex;
}

.post__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.post__image {
  width: 20%;
  min-width: 200px;
  min-height: 200px;
  height: 20%;
  border-radius: 0.8rem;
}

.view__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.view__title {
  font-size: 1.2rem;
  font-weight: 800;
}

.button__container {
  display: flex;
  gap: 0.4rem;
  padding-top: 1rem;
  align-items: center;
  justify-content: space-between;
}

.grid__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.grid__item {
  width: 50%;
  padding: 1rem;
}
.grid__image {
  width: 100%;
  border-radius: 0.8rem;
}

@media (max-width: 600px) {
  .home__card {
    width: 95%;
    font-size: 8px;
  }
}

@media (max-width: 1200px) {
  .home__card {
    width: 85%;
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .home__card {
    width: 90%;
    font-size: 10px;
  }
}
